<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请须知</title>
    <style>
        body{
            max-width: 860px;
            margin: 0px auto;
            padding: 30px 30px 100px;
        }
        code {
            padding: 2px 4px;
            font-size: 90%;
            color: #c7254e;
            background-color: #f9f2f4;
            border-radius: 4px;
            font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        }
    </style>
</head>
<body>
<!doctype html>
<html>
<head>
    <meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
    <title></title></head>
<body><h1><strong>南昌大学软件学院</strong></h1>
<h3><strong>学科（科技）竞赛师生激励办法</strong></h3>
<p>学科（<strong>科技</strong>）竞赛是推动创新创业教育改革，激发大学生主动学习、拓展知识面，培养大学生专业能力和综合素质，提高实践能力和创新能力的群众性科技活动。学院鼓励全院师生积极参加各级各类大学生学科（<strong>科技</strong>）竞赛，为使学科（<strong>科技</strong>）竞赛管理工作更加科学化、规范化、制度化，特制定本办法。</p>
<h4><strong>一、奖励对象</strong></h4>
<p>在学科（科技）竞赛中取得优异成绩的团队（个人）及指导教师。</p>
<h4><strong>二、奖励原则</strong></h4>
<p>（一） 围绕学院办学发展目标，以学院年度目标考核为导向，激励师生参与学科及科技竞赛。</p>
<p>（二） 竞赛类型和成果类型、级别评定参照《附件一 软件学院2019年度学科(科技)竞赛目录》，依照竞赛成果类型、级别的结果认定，做到公开、合理；竞赛奖项需明确为南昌大学软件学院所属，特殊竞赛奖项的认定，由学院进行讨论和认定。</p>
<p>（三） 每年学院按照学校政策要求、学院经费实际情况设置当年奖励的总额度。</p>
<p>（四） 奖励的标准每年可讨论修订，具体修订和解释权归学院所有。</p>
<h4>三、奖励标准设置</h4>
<p><strong>表一 师生奖励金额</strong></p>
<p><img src='..\..\asserts\img\table1.png' alt='' style="width: 100%;"></p>
<p><img src='..\..\asserts\img\table2.png' alt='' style="width: 100%;"></p>
<p><strong>说明：</strong></p>
<p>（一）各类成果奖励的作者第一单位须冠名或注明为南昌大学软件学院。</p>
<p>（二）奖励原则上给第一负责人，需要二次分配的，由第一负责人根据实际工作量分配给其他参与者。</p>
<p>（三）学生在同一年度获得不同竞赛奖项的，分别给予成绩认定，获取学分参照学校教务处规定执行。</p>
<p>（四）师生所有奖励在同一年度同一竞赛中按就高原则，不重复计算（有规定的除外）。</p>
<p>（五）每位学生单次竞赛获得奖金不超过<code>3000</code>元，学年累积奖金不超过<code>20000</code>元。</p>
<p>（六）每位指导老师（项目第一指导老师）单次竞赛（同一项目指导多个学生、多个作品只取最好成绩计算）获得奖金不超过<code>3000</code>元，学年累积奖金不超过<code>20000</code>元。</p>
<h4> </h4>
<h4>注：本文件参照《南昌大学本科生&lt;创新创业类课程学分&gt;实施管理原则性意见（2019年修订）》和《南昌大学表彰和奖励管理办法（暂行）》南大字〔2014〕44号</h4>
<p> </p>
<p><strong>2019年6月26日</strong></p>
</body>
</html>
</body>
</html>