<!doctype html>
<html>
<head>
    <meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
    <title>备案须知</title></head>
    <style>
    body{
        max-width: 860px;
        margin: 0px auto;
        padding: 30px 30px 100px;
    }
    </style>
<body><h1><strong>软件学院学科和科技竞赛经费报销的若干规定</strong></h1>
<hr>
<p>为拓展学生的知识面，培养学生的创新思维、实践能力和综合素质，我院将推动学科和科技竞赛。为使竞赛经费管理工作更加科学化、规范化，特制定本规定。</p>
<h3>一．参赛须知</h3>
<ol>
    <li>申请参加的比赛应具有一定的资质水平（见附件一：软件学院2019年度学科和科技竞赛目录）；</li>

</ol>
<ol>
    <li>原则上不报销省赛费用，参赛选手获得国家级奖项（优秀奖以上）后，经审核可报销相关费用（交通费、住宿费、参赛报名费、评审费等）；如有特殊情况确需报销，需提交情况说明，审核通过后报销；</li>

</ol>
<ol>
    <li>适用用各类由在校本科、研究生参与的与学科相关的科技竞赛。</li>

</ol>
<p>&nbsp;</p>
<h3>二．学科竞赛经费使用范围</h3>
<ol>
    <li>参赛报名费及评审费（每团队合计不超过500元）；</li>

</ol>
<ol>
    <li>住宿费、交通费：竞赛期间参赛学生的住宿费、交通费（按照当年学校财务规定标准报销，2019标准：住宿费每间低于350元（北上广不超500元）、交通费火车只报销硬座或二等座）；竞赛期间领队和参赛老师的住宿费、交通费按照当年学校财务规定标准报销。</li>

</ol>
<ol>
    <li>其他应当列入竞赛经费范围的开支：必须符合财务及各级部门有关规定，并经学校批准；</li>

</ol>
<ol>
    <li>不能列入学科竞赛经费开支的项目：不符合财务规定、各级部门明令禁止的经费项目；</li>

</ol>
<p>&nbsp;</p>
<h2>注：本标准参照《南昌大学大学生学科竞赛管理办法(试行)》。</h2>
<p> </p>
<p>2019年6月26日</p>
</body>
</html>