<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="asserts/js/layui/css/layui.css" media="all">
</head>
<body>

<table id="demo" lay-filter="test"></table>

<script src="asserts/js/jquery-1.12.4.js"></script>
<script src="asserts/js/layui/layui.all.js"></script>



<script type="text/html" id="barDemo">
    <button class="layui-btn layui-btn-xs"  lay-event="edit" name="edit_dept" id="edit_dept">编辑</button>
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="dele" name="dele_dept">删除</button>
</script>


<script>
    layui.define(['table'], function(){
        var table = layui.table;
        var common = layui.common;
        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 312
            ,url: 'http://localhost:8083/test/' //数据接口
            ,method:"get"
            ,page: true //开启分页
            ,cols: [
                [ //表头
                {field: 'dno', title: '部门编号', width:100, sort: true, fixed: 'left'}
                ,{field: 'dname', title: '部门名称', width:100}
                ,{field: 'dadmin', title: '佚名', width:100}
                ,{field: 'dtel', title: '部门电话', width:120}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ]
            ]
        });
        //监听工具条
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            // var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(layEvent === 'detail'){ //查看

                //do somehing
            } else if(layEvent === 'dele'){ //删除
                layer.confirm('真的删除行么', function(index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    $.ajax(
                        {
                            url: 'http://localhost:8083/test/dele/?param=' + data.dno,     // 请求地址,访问controller中的ccc方法, 就是你的控制器, 如 test.com/home/index/index
                            type: 'GET',   // 请求方式
                            success: function (result) {
                                console.log('success...'); // 请求成功后的回调函数, result 为响应内容
                            },
                            error: function () {
                                console.log('Send Request Fail..'); // 请求失败时的回调函数
                            }
                        }
                    );
                });
            } else if(layEvent === 'edit'){ //编辑
                //do something
                //同步更新缓存对应的值
                console.log(data.dno);
                $.ajax(
                    {
                        url: 'http://localhost:8083/test/edit/?param='+data.dno,     // 请求地址, 就是你的控制器, 如 test.com/home/index/index
                        type: 'GET',   // 请求方式
                        success: function (result) {
                            console.log('success...'); // 请求成功后的回调函数, result 为响应内容
                        },
                        error: function () {
                            console.log('Send Request Fail..'); // 请求失败时的回调函数
                        }
                    }
                );
                layer.confirm("你点击 了查看");
            } else if(layEvent === 'LAYTABLE_TIPS'){
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });
    });
</script>
</body>
</html>