<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>普通用户界面</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">
    <script src="asserts/js/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
    <style>
        .layui-footer{
            text-align: center;
        }
        .layui-logo{
            background-color: #393d49;
            opacity:0.7;
        }
        .nav-item-side i{
          margin-right: 15px;
        }
        .nav-item-top i{
            margin-left: 10px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">[[${session.loginUser}]]，你好！</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
<!--        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">仪表盘</a></li>
        </ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="asserts/img/NCU.png" class="layui-nav-img">
                    赵思蓉
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
            <a class="nav-item-top" href="javascript:;">我的消息</a>
            <dl class="layui-nav-child">
                <dd><a href="">消息管理</a></dd>
                <dd><a href="">公告管理</a></dd>
                <dd><a href="">邮件管理</a></dd>
            </dl>
        </li>
            <li class="layui-nav-item"><a class="nav-item-top" href="/">退出<i class="fa fa-share" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="leftnav">
                <li class="layui-nav-item layui-this">
                    <a class="nav-item-side site-active" href="javascript:;" data-url="user/dashboard" data-id="1" data-title="仪表盘" data-type="tabAdd"><i class="fa fa-home fa-fw"></i>仪表盘</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="nav-item-side" href="javascript:;"><i class="fa fa-id-card fa-fw" aria-hidden="true"></i>预算备案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="user/bill_notice" data-id="2" data-title="备案须知" class="site-active" data-type="tabAdd">备案须知</a></dd>
                        <dd><a href="javascript:;" data-url="user/bill_form" data-id="3" data-title="备案申报" class="site-active" data-type="tabAdd">备案申报</a></dd>
                        <dd><a href="javascript:;" data-url="user/bill_state" data-id="4" data-title="备案状态" class="site-active" data-type="tabAdd">备案状态</a></dd>
                        <dd><a href="javascript:;" data-url="user/bill_history" data-id="5" data-title="备案历史" class="site-active" data-type="tabAdd">备案历史</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="nav-item-side" href="javascript:;"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i>成果管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="user/application_notice" data-id="6" data-title="申请须知" class="site-active" data-type="tabAdd">申请须知</a></dd>
                        <dd><a href="javascript:;" data-url="user/application_form" data-id="7" data-title="申请信息" class="site-active" data-type="tabAdd">申请信息</a></dd>
                        <dd><a href="javascript:;" data-url="user/application_state" data-id="8" data-title="申请状态" class="site-active" data-type="tabAdd">申请状态</a></dd>
                        <dd><a href="javascript:;" data-url="user/application_history" data-id="9" data-title="申请历史" class="site-active" data-type="tabAdd">申请历史</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a class="nav-item-side site-active" data-url="#" data-id="10" data-title="教育科研" data-type="tabAdd"><i class="fa fa-flask fa-fw" aria-hidden="true"></i>教育科研</a></li>
                <li class="layui-nav-item"><a class="nav-item-side site-active" data-url="#" data-id="11" data-title="竞赛查询" data-type="tabAdd"><i class="fa fa-search fa-fw" aria-hidden="true"></i></i>竞赛查询</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-tab layui-tab-brief" lay-filter="tab" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li lay-id="1" class="layui-this">仪表盘</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe data-frameid="1" scrolling="auto" frameborder="0" src="user/dashboard" style="width: 100%; height: 99%;"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 学科竞赛管理系统
    </div>
</div>
<script src="asserts/js/layui/layui.js"></script>

<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
        //触发事件
        var active = {
            //在这里给active绑定几项事件，后面可通过active调用这些事件
            tabAdd: function(url,id,name) {
                //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                element.tabAdd('tab', {
                    title: name,
                    content: '<iframe data-frameid="'+id+'" scrolling="auto" frameborder="0" src="'+url+'" style="width:100%;height:99%;"></iframe>',
                    id: id //规定好的id
                })

                FrameWH();  //计算ifram层的大小
            },
            tabChange: function(id) {
                //切换到指定Tab项
                element.tabChange('tab', id); //根据传入的id传入到指定的tab项
            },
            tabDelete: function (id) {
                element.tabDelete("tab", id);//删除
            }
            , tabDeleteAll: function (ids) {//删除所有
                $.each(ids, function (i,item) {
                    element.tabDelete("tab", item); //ids是一个数组，里面存放了多个id，调用tabDelete方法分别删除
                })
            }
        };


        //当点击有site-demo-active属性的标签时，即左侧菜单栏中内容 ，触发点击事件
        $('.site-active').on('click', function() {
            var dataid = $(this);

            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                //如果比零小，则直接打开新的tab项
                active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"),dataid.attr("data-title"));
            } else {
                //否则判断该tab项是否以及存在

                var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                    if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                        isData = true;
                    }
                })
                if (isData == false) {
                    //标志为false 新增一个tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"),dataid.attr("data-title"));
                }
            }
            //最后不管是否新增tab，最后都转到要打开的选项页面上
            active.tabChange(dataid.attr("data-id"));
        });
        function FrameWH() {
            var h = $(window).height() -41- 10 - 60 -10-44 -10;
            $("iframe").css("height",h+"px");
        }

        $(window).resize(function () {
            FrameWH();
        })
    });
</script>
</body>
</html>